@model List<Test_Eticaret.Models.Movie>

<div class="product__sidebar">
    <div class="product__sidebar__view">
        <div class="section-title">
            <h5>Top Views</h5>
        </div>
        <ul class="filter__controls">
            <li class="active" data-filter="*">Day</li>
            <li data-filter=".week">Week</li>
            <li data-filter=".month">Month</li>
            <li data-filter=".years">Years</li>
        </ul>

        <div class="filter__gallery">
            @foreach (var toplikedmovies in Model)
            {
                <div class="product__sidebar__view__item set-bg mix day years"
                     data-setbg="@toplikedmovies.picture_url">
               
                    <div class="view"><i class="fa fa-eye"></i> @toplikedmovies.view</div>
                    <h5><a href="/Website/">@toplikedmovies.movie_name</a></h5>
                </div>
            }


        </div>
    </div>
