<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Test_Eticaret</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" type="text/css">
    <!-- Css Styles -->

    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/plyr.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">

    <!-- CSS dosyaları burada yer alır -->
</head>
<body>
    <!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="/website/index/">
                            <img src="~/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="/website/index/">Homepage</a></li>
                                <li>
                                    <a href="/website/index/">Categories </a>
                                    <ul class="dropdown">
                                        <li><a href="/website/categories/1/">Aksiyon</a></li>
                                        <li><a href="/website/categories/2/">Drama</a></li>
                                        <li><a href="/website/categories/3/">Komedi</a></li>
                                        <li><a href="/website/categories/4/">Gerilim</a></li>
                                        <li><a href="/website/categories/5/">Romantik</a></li>
                                        <li><a href="/website/categories/6/">Macera</a></li>
                                        <li><a href="/website/categories/7/">Belgesel</a></li>
                                        <li><a href="/website/categories/8/">Suç</a></li>
                                        <li><a href="/website/categories/9/">Fantastik</a></li>
                                        <li><a href="/website/categories/10/">Gizem</a></li>
                                    </ul>
                                </li>
                                <li><a href="/website/blog/">İletişim</a></li>
                                <li><a href="/website/login/">Login</a></li>
                            </ul>
                        </nav>
                    </div>
                 
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        <a href="#" class="search-switch"><span class="icon_search"></span></a>
                        <a href="/website/login"><span class="icon_profile"></span></a>
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Sayfa içeriği burada yüklenecek -->
    @RenderBody()
</body>
</html>
