@model List<Test_Eticaret.Models.Movie>

@{
    Layout = "_AdminLayout"; // Admin Layout dosyasını belirtme

} 
<div class="container my-5">
        <h1>Manage Movies</h1>
        <a href="#" class="btn btn-success mb-3">Add New Movie</a>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Movie Title</th>
                    <th>Genre</th>
                    <th>Release Year</th>
                    <th>Actions</th>
                </tr>
            </thead>
            
            @foreach(var movie in Model)
            {
            <tbody>
                <tr>
                    <td>@movie.movie_name</td>
                    <td>kategori ekle</td>
                    <td>2024</td>
                    <td>
                        <a href="#" class="btn btn-warning">Edit</a>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </td>
                </tr>

            </tbody>
            }
           
        </table>
        <a href="AdminDashboard.html" class="btn btn-primary">Back to Dashboard</a>
    </div>